<div class="container">
  <h2>User Management</h2>
  <nav>
    <button kendoButton class="button-group" (click)="setMode('create')">Create User</button>
    <button kendoButton (click)="setMode('read')">View Users</button>
    <button kendoButton (click)="setMode('update')">Update User</button>
    <button kendoButton (click)="setMode('delete')">Delete User</button>
  </nav>
  <div *ngIf="mode === 'create'">
    <div class="container">
      <h1>Create User</h1>
      <app-create-user></app-create-user>
    </div>
  </div>
  <div *ngIf="mode === 'read'">
    <div class="container">
    <h1>View User</h1>
     <app-view-users></app-view-users>
  </div>
  <div *ngIf="mode === 'update'">
    <div class="container">
    <h1>Update User</h1>
    <app-update-user></app-update-user>
    </div>  
  </div>
  <div *ngIf="mode === 'delete'">
  </div>
</div>